<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PERSONAL PLANNER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <% if (user) { %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="btn btn-secondary my-2 my-sm-0" href="/activities">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          &nbsp;<a class="btn btn-secondary my-2 my-sm-0" href="/activities/add">Add Activities</a>          
        </li>
        <li class="nav-item">
          &nbsp;<a class="btn btn-secondary my-2 my-sm-0" href="/categories">Categories</a>          
        </li>
      </ul>
      <img src="<%= user.avatar%>"  class="img-thumbnai rounded-circle" width="50" height="50"/>&nbsp;
      <%= user.name%> &nbsp;      
      <a href="/logout" class="btn btn-secondary my-2 my-sm-0">LOGOUT</a>
      <% } else { %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
        </li></ul>
        <a href="/auth/google" class="btn btn-secondary my-2 my-sm-0">
          <img width="45" height="45" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>
          LOGIN</a>
        <% } %>
      </form>
    </div>
  </div>
</nav>