<%- include('./partials/header') %>

<div class="row">        
    <div class="col-12" style="text-align: center">  
        <br>
        <div>
            <h3 class="card-header">My Personal Planner</h3>
            <div class="col-12" style="text-align: center">  
            <img src="images/cal.1.png" height="600"/>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>